{% extends 'crm_app/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <h1 class="mb-4">О магазине</h1>
        
        <div class="card mb-4">
            <div class="card-body">
                <h3>Добро пожаловать в CRM АвтоКомплект!</h3>
                <p>Мы специализируемся на продаже качественных автозапчастей для всех марок автомобилей. Наша компания заслужила доверие тысяч клиентов.</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h3>Наша миссия</h3>
                <p>Сделать процесс поиска и покупки автозапчастей максимально простым, быстрым и удобным. Мы хотим, чтобы каждый клиент мог легко найти нужную деталь по своему автомобилю и быть уверенным в её качестве.</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h3>Что мы предлагаем?</h3>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>Оригинальные запчасти и качественные аналоги</li>
                            <li>Более 8000 наименований в каталоге</li>
                            <li>Подбор по VIN-коду автомобиля</li>
                            <li>Совместимость запчастей с вашим авто</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Быстрая обработка заказов</li>
                            <li>Гарантия на все товары</li>
                            <li>Удобные способы оплаты</li>
                            <li>Сервисные напоминания о ТО</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}